.back-img {
    background-color: #c9e4f8;

}
.img-fluid {
    border-radius: 10px;
}
.Heading{
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-bottom: 0px;
}
h2 {
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    font-family: Arial,  sans-serif;
    color: #2f6e9c;
    text-align: left; 
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: rgb(1, 166, 1);
    font-size: 35px; 
}
.feature>p {
    text-align: justify;
}
.feature-icon {
    padding: 16px;
    border-radius: 10px;
}
.navbar-brand {
    margin-right: 50px;
    margin-left: 20px;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

#carouselExampleAutoplaying {
    margin-bottom: 40px;
}

.btn-donation {
    width: 150px;
    color: white;
    background-color: rgb(1, 166, 1);
    font-size: 20px;
    margin-right: 30px;
    border-radius: 8px;
    border: none;
}
.btn-all {
    background-color: #2f6e9c ;
    border: none;
}

.btn-card {
    display: flex;
    justify-content: center;
}
.card {
    border: transparent;
}
.card-text {
    text-align: justify;
}

.dropdown {
    transition: 0.3s ease-in-out;
}

.navi-item {
    margin: 10px;
    font-size: 15px;
    border-radius: 15px;
}

.navi-item:hover > .nav-link {
    background-color: rgb(1, 166, 1);
    color: white;
    transition: 0.1s;
    border-radius: 8px;
}
.navif-item:hover > .nav-link {
    text-decoration: underline;
    transition: 0.1s;
}

.d-block {
    height: 582.6px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container2 {
    background-color: #2f6e9c;
}

.img-logo {
    mix-blend-mode: multiply;
}

.card {
    border: 1px outset #737373;
    background-color: rgba(241, 240, 240, 0);
}


.carousel-thumbnail {
    width: 300px; 
    height: 300px; 
    object-fit: cover;  
  }

  .carousel-text {
    color: white; 
    text-align: justify;
    font-family: 'MontserratExtraLight';
  }

  .carousel-item1 {
    padding: 20px; 
    padding-bottom: 60px;
  }

  .carousel-inner1 {
    display: flex;
    align-items: center;
    justify-content: left;
  }


  @media (max-width: 768px) {
    .front {
        max-width: 100%;
    }
    .card-h2 {
        font-size: 28px;
        display: flex;  
        justify-content: center;
    }
    .trusty-title {
        font-size: 25px;
    }
}
@media (min-width: 769px) {
    .front {
        max-width: 600px;
    }
}
