{% extends "layout.html" %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Admin Dashboard</h2>
            <ul class="list-group mt-4">
                <li class="list-group-item">
                    <a href="/gallery" class="btn btn-link">Manage Photo Gallery</a>
                </li>
                <li class="list-group-item">
                    <a href="/about#founders" class="btn btn-link">Manage Founders Section</a>
                </li>
                <li class="list-group-item">
                    <a href="/about#ourteam" class="btn btn-link">Manage Our Team Section</a>
                </li>
                <li class="list-group-item">
                    <a href="/video-gallery" class="btn btn-link">Manage Video Gallery</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/page5" class="btn btn-link">Manage Page 5</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}