<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="display-4">{{ error_code }}</h1>
            </div>
            <div class="col-12 my-4">
                <img src="/static/LOGO.jpg" alt="Logo" class="img-fluid" id="logo" style="height: 128px; width: 128px">
            </div>
            <div class="col-12">
                <h3 class="lead">{{ error_message }}</h3>
            </div>
        </div>
    </div>
</body>
</html>