{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block main %}
  <div class="container">
    <main>
      <div class="py-5 text-center">

        <h2>Registration for Books Recording </h2>
        <p class="lead">Recording a book for a blind student provides them with accessible educational materials and
          enhances their learning experience. It promotes inclusivity and supports their academic success.</p>
      </div>

      <div class="row g-5">



        <!-- <form class="card p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
              </form> -->
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Add Your Details </h4>
        <form action="/book" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
          <!-- {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul>
                      {% for message in messages %}
                          <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %} -->
          
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="text" name="first_name" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
  
            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="text" name="last_name" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
  
            <div class="gen">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" required>
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female" required>
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>
              <div class="invalid-feedback">
                Please select your gender.
              </div>
            </div>
  
            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
  
            <div class="col-12">
              <label for="mobile_number" class="form-label">Mobile Number <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="text" class="form-control" name="mobile_number" id="mobile_number" placeholder="(10 digits)" required>
              <div class="invalid-feedback">
                Valid mobile number is required.
              </div>
            </div>
  
            <div class="col-12">
              <label for="address" class="form-label">Address <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="text" class="form-control" name="address" id="address" placeholder="Apartment or suite" required>
              <div class="invalid-feedback">
                Valid address is required.
              </div>
            </div>
  
            <div class="col-12">
              <label for="occupation" class="form-label">Occupation</label>
              <input type="text" class="form-control" name="occupation" id="occupation" placeholder="">
              <div class="invalid-feedback">
                Valid occupation is required.
              </div>
            </div>
  
            <div class="col-12">
              <label for="occupation_address" class="form-label">Occupation Address</label>
              <input type="text" class="form-control" name="occupation_address" id="occupation_address" placeholder="">
              <div class="invalid-feedback">
                Valid occupation address is required.
              </div>
            </div>
  
            <div class="col-12">
              <label for="education" class="form-label">Education & Qualification <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <input type="text" class="form-control" name="education" id="education" placeholder="" required>
              <div class="invalid-feedback">
                Valid education & qualification is required.
              </div>
            </div>
  
            <div class="gen">
              <label for="languages" class="form-label">Languages You Know to Write <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
              <div class="form-check form-check-inline" style="margin-left: 5px;">
                <input class="form-check-input" name="languages" type="checkbox" id="inlineCheckbox1" value="gujarati" required>
                <label class="form-check-label" for="inlineCheckbox1">Gujarati</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="languages" type="checkbox" id="inlineCheckbox2" value="hindi">
                <label class="form-check-label" for="inlineCheckbox2">Hindi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="languages" type="checkbox" id="inlineCheckbox3" value="english">
                <label class="form-check-label" for="inlineCheckbox3">English</label>
              </div>
              <div class="invalid-feedback" style="display: block;">
                Please select at least one language.
              </div>
            </div>
  
          <div class="mb-3">
            <label for="photo" class="form-label">Upload Audio Sample <span class="text-body-secondary"><em><small>(required)</small></em></span></label>
            <input class="form-control" accept="audio/*" name="audio" type="file" id="audio" required>
            <div class="invalid-feedback">
              Valid photo is required.
            </div>
          </div>
            
  
            <button class="w-100 btn btn-lg" type="submit" style="color: white; background-color: #2f6e9c;">Submit</button>
        </form>

        <script>
          function validateForm() {
            var firstName = document.getElementById('firstName').value.trim();
            var lastName = document.getElementById('lastName').value.trim();
            var gender = document.querySelector('input[name="inlineRadioOptions"]:checked');
            var email = document.getElementById('email').value.trim();
            var mobileNumber = document.getElementById('mobile_number').value.trim();
            var address = document.getElementById('address').value.trim();
            var education = document.getElementById('education').value.trim();
            var languages = document.querySelectorAll('input[name="languages"]:checked');
            var audio = document.getElementById('audio').value.trim();
  
            var missingFields = [];
  
            if (firstName === '') {
              missingFields.push('First Name');
            }
            if (lastName === '') {
              missingFields.push('Last Name');
            }
            if (!gender) {
              missingFields.push('Gender');
            }
            if (email === '') {
              missingFields.push('Email');
            }
            if (mobileNumber === '') {
              missingFields.push('Mobile Number');
            }
            if (address === '') {
              missingFields.push('Address');
            }
            if (education === '') {
              missingFields.push('Education');
            }
            if (languages.length === 0) {
              missingFields.push('Languages');
            }
            if (audio === '') {
              missingFields.push('audio');
            }
  
            if (missingFields.length > 0) {
              alert('Please fill out the following fields: ' + missingFields.join(', '));
              return false; // Prevent form submission
            }
  
            return true; // Allow form submission
          }
        </script>
      </div>
  </div>

  {% endblock %}