<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Initiative</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
.jumbotron{
    background-image: url('card11.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  
}

    </style>
</head>
<body>
    

<!-- Jumbotron -->
<div class="jumbotron text-center jumbo-bg">
    <h1 class="display-4">Our Initiatives</h1>
    <p class="lead">Discover the various initiatives we undertake to make the world a better place.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
    </p>
</div>

<!-- Initiatives Section -->
<div class="container">
    <!-- Initiative 1 -->
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="initiative1.jpg" class="img-fluid" alt="Initiative 1">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h2>Initiative 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                </p>
            </div>
        </div>
    </div>
    <!-- Initiative 2 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2">
            <img src="initiative2.jpg" class="img-fluid" alt="Initiative 2">
        </div>
        <div class="col-md-6 d-flex align-items-center order-md-1">
            <div>
                <h2>Initiative 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                </p>
            </div>
        </div>
    </div>
    <!-- Initiative 3 -->
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="initiative3.jpg" class="img-fluid" alt="Initiative 3">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h2>Initiative 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante

                </p>
            </div>
        </div>
    </div>
    <!-- Initiative 4 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2">
            <img src="initiative4.jpg" class="img-fluid" alt="Initiative 4">
        </div>
        <div class="col-md-6 d-flex align-items-center order-md-1">
            <div>
                <h2>Initiative 4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante

                </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center py-4">
    <p>&copy; 2024 NGO Name. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
