{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
  <div class="container">
    <main>
      <div class="py-5 text-center">

        <h2>Registration for Joining as a Team Member </h2>
        <p class="lead">Joining an NGO allows you to make a positive impact on society by addressing important social
          issues. It also provides personal growth opportunities and a sense of fulfillment through meaningful work.</p>
      </div>

      <div class="row g-5">




      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Add Your Details </h4>
        <form class="needs-validation" novalidate="" action="/team" method="post" enctype="multipart/form-data">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="first_name id=" firstName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name <span class="text-body-secondary"><em><small>(required)
                    </small></em></span></label>
              <input type="text" class="form-control" name="last_name id=" lastName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="gen">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" data-backend-name="female" name="inlineRadioOptions"
                  id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Female <span
                    class="text-body-secondary"><em><small>(only female candidates are accepted)
                      </small></em></span></label>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary"><em><small>(required)
                    </small></em></span></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Mobile Number <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="number" class="form-control" name="mobile_number" id="address" placeholder="(10 digits)"
                required>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address <span class="text-body-secondary"><em><small>(required)
                    </small></em></span></label>
              <input type="text" class="form-control" name="address" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-12">
              <label for="firstName" class="form-label">Education & Qualification <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="education" id="firstName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid Education & Qualification is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="form-label">Occupation <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="occupation" id="firstName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid Occupation is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Occupation Address <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="occupation_adrdress" id="lastName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid Occupation Address is required.
              </div>
            </div>

            <div class="col-12">
              <label for="firstName" class="form-label">About Yourself <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="about" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid Text is required.
              </div>
            </div>

            <div class="col-12">
              <label for="firstName" class="form-label">How Would You Make Change <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="text" class="form-control" name="make_change" id="firstName" placeholder="" value=""
                required="">
              <div class="invalid-feedback">
                Valid Text is required.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Aadhar number <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input type="number" class="form-control" name="aadhar_number" id="address" placeholder="(12 digits)"
                required>
            </div>
            <div class="col-12">
              <label for="address" class="form-label">Pan number <span class="text-body-secondary"><em><small>(required)
                    </small></em></span></label>
              <input type="text" class="form-control" name="pan_number" id="address" placeholder="(10 characters)"
                required>
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label"> Aadhar Card <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input class="form-control" type="file" name="aadhar_card" id="formFile">
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label"> Pan Card <span class="text-body-secondary"><em><small>(required)
                    </small></em></span></label>
              <input class="form-control" type="file" name="pan_card" id="formFile">
            </div>




            <div class="mb-3">
              <label for="formFile" class="form-label">Upload your Photo <span
                  class="text-body-secondary"><em><small>(required) </small></em></span></label>
              <input class="form-control" type="file" name="photo" id="formFile">
            </div>

            <button class="w-100 btn  btn-lg" type="submit"
              style="color: white; background-color: #2f6e9c;">Submit</button>
        </form>
      </div>
  </div>
  {% endblock %}
